<h2 class="display-3 mb-5"><%= @article.title %></h2>

<div>
  <%= @article.description %>
</div>

<div class="card mt-5">
  <div class="card-header">
    <%= @article.user.username %>
  </div>
  <div class="card-body">
    <%= gravatar_for @article.user %>

    <%= link_to 'View profile', user_url(@article.user.id) %>
  </div>
</div>