<p id="notice"><%= notice %></p>

<div class="text-center">
  <h1 class="display-3 mb-3">Welcome to <%= link_to @user.username %>'s profile</h1>
  <%= gravatar_for @user, { size: 150 } %>
  <p class="lead mt-2"><%= @user.email %></p>
</div>

<%= render 'articles/article', articles: @user.articles %>

